<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>5ive Jewellers</title>
    <link rel="stylesheet" href="/css/navbar.css">
  </head>
  <body>
    <header class="header" style="margin-bottom: 0;">
      <a href="home.php">
      <img
        src="/assets/logof1.png"
        alt="5ive Jewellery"
        class="logo"
         
      />
    </a>

      <nav class="navbar">
        <ul class="navbar-list" style="
    margin-bottom: 0px;
">
          <li><a class="navbar-link" href="/home.php">Home</a></li>
          <li><a class="navbar-link" href="/aboutus.php">About Us</a></li>
          <li><a class="navbar-link" href="/contact.php">Contact Us</a></li>
          <li><a class="navbar-link" href="/cart.php">Cart </a></li>
          <li><a class="navbar-link" href="/logout.php"><i class="fa-solid fa-right-from-bracket"></i></a></li>
          
        </ul>
         
      </nav>
</header>
    
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
   
  </body>
</html>
